<div class="container">
	<center>
	<div>
		<li class="list-group-item mystyle"><center><h3><%= @ride.name %></h3></center></li>
	</div>
	</center>
	</br>
	<div class="row">
		<div class="col-6">
			<li class="list-group-item"><h4>Date: <%= @ride.date %></h4></li>
			<li class="list-group-item"><h4>Location: <%= @ride.location %></h4></li>
			<li class="list-group-item"><h4>Discipline: <%= @ride.ride_type %></h4></li>
			<li class="list-group-item"><h4>Description: <%= @ride.description %></h4></li>
		</div>
		<div class="col-6">
			<li class="list-group-item"><img src = '<%= @ride.image %>'></li>
			
		</div>

	</div>
</div>

</br>
</br>

<center>
<div>
	<li class="list-group-item mystyle" style="width: 20%"><h3>Ride Participants</h3></li>
 	<li class="list-group-item" style="width: 20%"><h4><%= @ride.creator.user_name %></h4></li>
	<% @ride.users.each do |user| %>
 		<li class="list-group-item" style="width: 20%"><h4><%= user.user_name %></h4></li>
 <% end %>
</div>
</center>

</br>
</br>

</br>
<center>
<div id="map">
	    <script>
		// Initialize and add the map
			function initMap() {
  		// The location of Uluru
  				var uluru = {lat: -25.344, lng: 131.036};
  		// The map, centered at Uluru
  				var map = new google.maps.Map(
      				document.getElementById('map'), {zoom: 4, center: uluru});
  		// The marker, positioned at Uluru
  				var marker = new google.maps.Marker({position: uluru, map: map});
			}
    </script>
 </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeFMzGBT0FWPvyeOzJJk-NYtJ3izcn8KA&callback=initMap">
 </script>
</div>
</center>

</br>
<center>

	<% if user_signed_in? and current_user.id == @ride.user_id %>
			<%= button_to("Delete Ride", [@user, @ride], method: :delete) %>
		<% elsif @attendance.present? %>
			<%= button_to("Unattend", ride_ride_user_path(@ride, current_user), method: :delete, :class => "btn my-btn") %>
		<% else %>
			<%= button_to("Attend", ride_ride_users_path(@ride, user_id: current_user.id), method: :post, :class => "btn my-btn") %>
	<% end %>	
</center>

<style>
	#map {
   		width: 56%;
   		height: 600px;
   		background-color: grey;
 	}
</style>

