
<div>

<% User.all.each do |u| %>
		<%= link_to "add #{u.user_name}", ride_ride_users_path(@ride, user_id: u.id), method: :post  %>
	<% end %>
</div>

<div class="container">
	<div class="row">
		<li class="list-group-item active"><h3><%= @ride.name %></h3></li>
	</div>
	<div class="row">
		<div class="col-6">
			<li class="list-group-item"><h4>Date: <%= @ride.date %></h4></li>
			<li class="list-group-item"><h4>Location: <%= @ride.location %></h4></li>
			<li class="list-group-item"><h4>Discipline: <%= @ride.ride_type %></h4></li>
			<li class="list-group-item"><h4>Description: <%= @ride.description %></h4></li>
		</div>
		<div class="col-6">
			<li class="list-group-item"><img src = '<%= @ride.image %>'></li>
			
		</div>

	</div>


</div>
</br>
<center>
	<%= button_to("Delete Ride", [@user, @ride], method: :delete, :class => "btn btn-primary") %>
</center>			
		
	
