
<div class="container">
		<li class="list-group-item mystyle"><h3><%= @ride.name %>
			<div class="edit" align="right">
				<%= link_to "Edit Ride Details", edit_ride_path, :class => 'navbar-link-myrides-edit' %>
			</div>
			</h3>
		</li>
	<div class="row">
		<div class="col-6">
			<li class="list-group-item"><h4>Date: <%= @ride.date %></h4></li>
			<li class="list-group-item"><h4>Location: <%= @ride.location %></h4></li>
			<li class="list-group-item"><h4>Discipline: <%= @ride.ride_type %></h4></li>
			<li class="list-group-item"><h4>Description: <%= @ride.description %></h4></li>
		</div>
		<div class="col-6">
			<li class="list-group-item"><img src = '<%= @ride.image %>'></li>
		</div>
	</div>
</div>

</br>
</br>

<center>
<div>
	<li class="list-group-item mystyle" style="font-family: Verdana, sans-serif; width: 56%"><center><h3>Here we start</h3></center></li>
</div>
<div id="map">
	    <script>
		// Initialize and add the map
			function initMap() {
  		// The location of Uluru
  				var uluru = {lat: 4.252428, lng: -74.184135};
  		// The map, centered at Uluru
  				var map = new google.maps.Map(
      				document.getElementById('map'), {zoom: 6, center: uluru});
  		// The marker, positioned at Uluru
  				var marker = new google.maps.Marker({position: uluru, map: map});
			}
    </script>
 </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeFMzGBT0FWPvyeOzJJk-NYtJ3izcn8KA&callback=initMap">
 </script>
</div>
</center>

</br>
</br>

<center>
<div>
	<li class="list-group-item mystyle" style="width: 20%"><h3>Ride Participants</h3></li>
 	<li class="list-group-item" style="width: 20%"><h4><%= @ride.creator.user_name %></h4></li>
	<% @ride.ride_users.each do |ride_user| %>
		<% user = ride_user.user %>
		<li class="list-group-item d-flex pr-1 "  id="userName" style="width: 20%">
			<div class="w-25"></div>
			<div class="w-50"> 
				<h4><%= user.user_name %></h4> 
			</div>
			
			 <div class="input-group-append-deleteuser w-25 " align="right">
			 
    			<button onclick="deleteUser(<%=  ride_user.id %>, <%= user.id %>)">Delete</button>

  			</div>

		</li>
 <% end %>
</div>
</center>

<center>
<div class="input-group" style="width:20%">
  <select class="custom-select" id="inputGroupSelect04" style="height: 60px">
    <%= options_for_select(User.all.order(:user_name).map{|user| [user.user_name, user.id]}) %>
  </select>
  <div class="input-group-append">
    <button onclick="addUser()">Add</button>
  </div>
</div>
</center>

</br> 		
</br>

<center>
	<%= button_to("Delete Ride", [@user, @ride], method: :delete, :class => "btn my-btn") %>
</center>	


		
<script type="text/javascript">
	$(function(){
	  // always pass csrf tokens on ajax calls
	  $.ajaxSetup({
	    headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content') }
	  });
	});
	
	function addUser() {
		var f = $("#inputGroupSelect04");
		let id  = f.find(":selected").val();
		
		$.post("/rides/<%= @ride.id %>/ride_users", {ride_id: <%= @ride.id %>, user_id: id});
	}

	function deleteUser(ru_id, id) {

		$.ajax({url: "/rides/<%= @ride.id %>/ride_users/" + ru_id,
				data: {user_id: id},
				type: "DELETE"});

	}
</script>
	
<style>
	#map {
   		width: 56%;
   		height: 600px;
   		background-color: grey;
 	}
</style>
