<div>



<h3 class="h2-index">Rides I created and will attend</h3>

<center>	
<table class="table table-bordered my-table">
	
	<tr class="tr-head">
		<th>Ride Name</th>
		<th>Date</th>
		<th>Meet-up Location</th>
		<th>Discipline</th>
		<th>Image</th>
		<th>Details</th>
	</tr>

<% @created_rides.each do |ride| %>
	<tr>
		<td><%= ride.name %></td>
		<td><%= ride.date %></td>
		<td><%= ride.location %></td>
		<td><%= ride.ride_type %></td>
		<td><img src = '<%= ride.image %>' class="img-myrides"></td>
		<td><%= link_to "See Details", "/users/#{@user.id}/rides/#{ride.id}", :class => 'navbar-link-myrides'  %></td>
	</tr>

<% end %>	
</table></br>
</center>

<h3 class="h2-index2">Rides I attend</h3>

<center>
<table class="table table-bordered my-table">
	<tr class="tr-head">
		<th>Ride Name</th>
		<th>Date</th>
		<th>Meet-up Location</th>
		<th>Discipline</th>
		<th>Image</th>
		<th>Details</th>
	</tr>
<% @rides.each do |ride| %>
	<tr>
		<td><%= ride.name %></td>
		<td><%= ride.date %></td>
		<td><%= ride.location %></td>
		<td><%= ride.ride_type %></td>
		<td><img src = '<%= ride.image %>' class="img-myrides"></td>
		<td><%= link_to "See Details", "/users/#{@user.id}/rides/#{ride.id}", :class => 'navbar-link-myrides'  %></td>
	</tr>

<% end %>
</table>		

</center>
	