<div>

<center>
	
	Rides I attend<br>



	<% @rides.each do |ride| %>

		<%= ride.name %>
		<%= ride.date %>
		<%= ride.location %>
		<%= ride.ride_type %>
		<img src = '<%= ride.image %>'>
		<%= link_to "See Details", "/users/#{@user.id}/rides/#{ride.id}", :class => 'navbar-link'  %> <br>

	
	<% end %>


	Rides I created and will attend<br>

	<% @created_rides.each do |ride| %>

		<%= ride.name %>
		<%= ride.date %>
		<%= ride.location %>
		<%= ride.ride_type %>
		<img src = '<%= ride.image %>'>
		<%= link_to "See Details", "/users/#{@user.id}/rides/#{ride.id}", :class => 'navbar-link'  %> <br>

	
	
	<% end %>


</center>


</div>
	