<div class="create">
<p>
Where do you wanna ride next? <br>
<div>

</div>
</p>
</div>

<%= form_for [@user, @ride] do |f| %>

  Ride Name: <%= f.text_field :name %><br />

  Meet-up Location: <%= f.text_field :location %><br />

  Date: <%= f.date_field :date? %><br />

  Start Time: <%= f.time_field :start_time %><br />

  Ride Type: <%= f.select :ride_type, ['Downhill', 'Enduro', 'Road', 'XC'] %><br />

  Short Description of Ride: <%= f.text_field :description %><br />

  <div>
    <%= f.label :Image %>
    <%= f.file_field :image %>
  </div>



  <%= f.submit %>

<% end %>