<div class="create">
<p>
Where do you wanna ride next? <br>
<div>

</div>
</p>
</div>

<center>

<%= bootstrap_form_for [@user, @ride] do |f| %>

  <div class="standard-label">
    <%= f.text_field :name, label: 'Ride Name' %><br />
    <%= f.text_field :location, label: 'Meet-up Location:' %><br />
  </div>

  <div class="date-label">
    <%= f.date_field :date?, label: 'Date' %><br />
  </div>

  <div class="time-label">
    <%= f.time_field :start_time %><br />
  </div>

  <div class="select-label">
    <%= f.select :ride_type, ['Downhill', 'Enduro', 'Road', 'XC'] %><br />
  </div>

  <div class="description-label">
    <%= f.text_field :description, label: 'Short Description of Ride' %><br />
  </div>

  <div class="image-label">
    <%= f.file_field :image %>
  </div>


  <div class="submit-button">
    <%= f.submit %>
  </div>
</center>
<% end %>