

<div>

<% User.all.each do |u| %>
		<%= link_to "add #{u.user_name}", ride_ride_users_path(@ride, user_id: u.id), method: :post  %>
	<% end %>
</div>

	Ride details
	<ul>


		<%= @ride.name %>
		<%= @ride.date %>
		<%= @ride.location %>
		<%= @ride.ride_type %>
		<img src = '<%= @ride.image %>'>

		<% if @user.id == @ride.user_id %>
			<%= button_to("Delede Ride", [@user, @ride], method: :delete) %>
		<% end %>
		
	
</ul>