<!DOCTYPE html>
<html>
  <head>
    <title>Funride</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 
  <body>
  <div class= "links_general">
  <% if user_signed_in? %>
    <%= link_to "Home", root_path(current_user), :class => 'navbar-link'  %>
    <%= link_to "My Rides", user_rides_path(current_user), :class => 'navbar-link'  %>
    <%= link_to "Create Ride", new_user_ride_path(current_user), :class => 'navbar-link'  %>
    <div class="navbar-text pull-left">    
      <form class="form-inline my-2 my-lg-0" style="width: 800px" action="/" method="get">
        <input class="form-control mr-sm-2" style="width: 460px" name="search" type="search" placeholder="Search Ride by Location, Dicipline or Date (YYYY-MM-DD)" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    <div class="navbar-text pull-right">
	    
  		  Logged in as <strong><%= current_user.user_name %></strong>.
  		  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  		  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      
    </div>
    <% else %>
  	<h3>Welcome to Funride</h3>
	  <% end %>
</div>
 

  	<% if notice %>
 		 <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
  		<p class="alert alert-danger"><%= alert %></p>
	<% end %>
    <div style="padding-top: 110px;" style="padding-bottom: 120px;">
  </div>
    <%= yield %>

    <div style="padding-top: 120px;" style="padding-bottom: 120px;">
  </div>
  </body>


</html>
